body {
    font-family: 'Poppins', sans-serif;
    ;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    padding: 5px 20px;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    margin-top: 100px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}

.flexible-container {
    display: flex;
}

.experience-item {
    box-shadow: 10px 10px 40px grey;
    margin: 2% 5%;
    padding: 10px;
    border-radius: 5px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 7px solid sandybrown;
}

#baby {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}